







.titulo{
    background-image: url(./img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 630px;
}

.titulo img{
        padding-top: 153.5px;
        width: 650px;
       

}


.quisom h1{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 75px;
    font-size: 75px;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;


}

.quisom{
    background-color: #BA94D1;
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col img{
    width: 550px;
    height: 250px;
    text-align: center;
    padding-left: 150px;
    transition: all 0.5s;
  

      
    
}



img{
    border-radius: 50px;

}
.col2 img{
    width: 550px;
    height: 350px;
    text-align: center;
    padding-left: 150px;
    
    
}


.col a{
    text-align: center;
    width: 450px;
    display: flex;
    justify-content: center;
    padding-left: 233px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}


.col{
    transition: all 0.5s;
}


.col:hover{
    transform: translateX(20px);
    


}

.col a:hover{
    color: black;
}

.col2 p{
    text-align: center;
    width: 450px;
    display: flex;
    justify-content: center;
    padding-left: 233px; 
    
       
}

.definicion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 100px;
    
}

.definicion img{
    padding-left: 470px;
}

.col3 p{
    width: 600px;
    padding-left: 50px;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    border: 2px solid #fff; /* 2px de ancho, sólido y color negro (puedes ajustar estos valores según tus preferencias) */
    
}


.serveis h2{
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.serveis{
    background-color: #176B87;
    color: white;
   
}


.abajo{
    padding-bottom: 100px;
}



.card {
   opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    background-color: #BA94D1;
    border: 0px;
        }
        .card.fadeIn {
        opacity: 1;
        transform: translateY(0);
        background-color: #BA94D1;
        border: 0px;
        }

/* body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
} */


.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}

/* @media (min-width: 576px) {
    body::before {
        content: "SM";
    }
}

@media (min-width: 768px) {
    body::before {
        content: "MD";
    }
}

@media (min-width: 992px) {
    body::before {
        content: "LG";
    }
}

@media (min-width: 1200px) {
    body::before {
        content: "XL";
    }
} */

/* @media (min-width: 1400px) {
    body::before {
        content: "XXL";
    }
} */



#footer{
	border-top: 3px solid white;
	background: #1f1f1f;
	color: white;
}

#footer p{
    padding-bottom: 100px;
}
.container3{
	display: flex;
	justify-content: center;
}

.sec{
	width: 333px;
	height: 250px;
	margin: 60px 0px;
	padding: 0px;
}

.iconos{
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin: 20px auto;
}



.margin{
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.sec i{
	color: white;
	background: #3c3b3b;
	padding: 5px;
	border-radius: 5px;
	font-size: 2em;
	margin-bottom: 150px;
    transition: all 0.5s;
}

.sec h1{
	font-size: 1.5em;
} 

.sec li{
	list-style: square;
	padding-top: 10px;
}

.sec p{
	font-size: 0.7em;
	margin: 0px auto;
	text-align: center;
	padding-bottom: 20px;
}



.sec i:hover{
	color: #1f1f1f;
	background: white;
}

.flex2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sec img{
	width: 250px;
}